
{% load user_group %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 field-name"><h3>Extra Data</h3></div>
        </div>
        <form method="POST">{% csrf_token %}
            {% for i in site_extra_data.items %}
                {% if i.0 == '_id' %}
                <div class="row" style="display: none;">
                {% elif i.0 == 'site_id' %}
                <div class="row" style="display: none;">
                {% else %}
                <div class="row">
                {% endif %}
                    <div class="col-md-2 field-name">{{ i.0 }}</div>
                    <div class="col-md-3">
                        {% if request.user|has_group:"user" %}
                            <input class='extra-data-input' type="text" name="{{ i.0 }}" value="{{ i.1 }}">
                        {% else %}
                            {{ i.1 }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 16px">
                        {% if request.user|has_group:"user" %}
                            <button class="btn primary btn-warning" id='save-extra-data'>Save Extra Data</button>
                        {% endif %}
                    </div>
                </div>
        </form>
    </div>
</div>
