{% load software_upgraded %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 field-name"><h3>Site Information</h3></div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 field-name">Site Name</div>
                    <div class="col-md-8 data">{{ site.name }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 field-name">Address</div>
                    <div class="col-md-8 data">
                        {{ site.address}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 field-name">Date</div>

                    <div class="col-md-8 data">
                        {{ site.date   |date:"m/d/Y"}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 field-name">Contact Name</div>
                    <div class="col-md-8 data">
                        {{ site.contact}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 field-name">Phone Number</div>
                    <div class="col-md-8 data">
                        {{ site.contact_phone_number}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 field-name-small">Cloud SSH Tunnel Port</div>
                    <div class="col-md-8 data">
                        {{ site.cloud_ssh_tunnel_port }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 field-name"><h3>Site Data</h3></div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Number of Installed Energy Managers</div>
                    <div class="col-md-6 data">
                        {{ site.number_of_installed_energy_managers }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Number of Installed Energy Managers Notes</div>
                    <div class="col-md-6 data">
                        {{ site.number_of_installed_energy_managers_notes }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Number of Installed Gateways</div>
                    <div class="col-md-6 data">
                        {{ site.number_of_installed_gateways }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Number of Installed Sensor Units and Installed Units</div>
                    <div class="col-md-6 data">
                        {{ site.number_of_installed_sensor_units_and_control_units }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Number of Installed Sensor Units and Installed Units Notes</div>
                    <div class="col-md-6 data">
                        {{ site.number_of_installed_sensor_units_and_control_units_notes }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Number of Installed Room Controls</div>
                    <div class="col-md-6 data">
                        {{ site.number_of_installed_enlighted_room_controls }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Sensor Type</div>
                    <div class="col-md-6 data">
                        {{ site.sensor_type }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Software Version of Energy Manager</div>
                    <div class="col-md-6 data">
                        {{ site.software_version_of_energy_manager }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Software Version of Gateway</div>
                    <div class="col-md-6 data">
                        {{ site.software_version_of_gateway }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Software Version of Sensor Unit</div>
                    <div class="col-md-6 data">
                        {{ site.software_version_of_sensor_unit }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Profile File</div>
                    <div class="col-md-6 data">
                        <a href="{% url 'download_commissioned_site_profile' site.id  %}">{{ site.profiles_file }}</a>
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Site Notes</div>
                    <div class="col-md-6 data">
                        {{ site.notes }}
                    </div>
        </div>
        <div class="row">
                    <div class="col-md-6 field-name">Software Upgraded</div>
                    <div class="col-md-6 data">
                        {{ site| software_upgraded }}
                    </div>
        </div>

        <div class="row">
            <div class="col-md-12 field-name-small">Last Modified By {{ site.last_modified_by.username }} - {{ site.last_modified_by.first }} {{ site.last_modified_by.last }}</div>
        </div>
        <div class="row">
            <div class="col-md-12 field-name-small">Last Modified on {{ site.last_modified_on }}</div>
        </div>
        <div class="row">
            {% include "commissioned_sites/_view_networks.html" %}
        </div>
        <div class="row">
            {% include "commissioned_sites/_view_attachments.html" %}
        </div>


    </div>
</div>
