{% extends "base_form.html" %}
{% block content %}
    <div class="container">
    <div class="page-header">{% include "commissioned_sites/_customer_header.html" %}</div>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class="btn primary" type="submit" value="Save Site" />
        <button class="btn primary" type="submit"><a href="{% url 'view_site' id=site.id  %}">CANCEL</a></button>
    </form>

    <script src="{{ STATIC_URL   }}return_merchandise_authorizations/js/rma_edit.js"></script>
{% endblock content %}