{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="page-header">{% include "commissioned_sites/_customer_header.html" %}</div>

    <div class="row">
        <div class="col-md-12">
            <h3>Manage Commissioned Site Extra Data</h3>
            {% if message %}
            <p class="error-message">{{ message }}</p>
            {% endif %}
        </div>
    </div>

    {% include "commissioned_sites/_tabs.html" %}

    <div class="tab-content">
      <div class="tab-pane" id="view">

      </div>
      <div class="tab-pane active" id="extra-fields">
          {% include "commissioned_sites/_manage_extra_fields.html" %}
      </div>
      <div class="tab-pane" id="attachments">Your Settings tab content here</div>
      <div class="tab-pane" id="attachments">Your Settings tab content here</div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
            $('#site-view-anchor').removeClass('active');
            $('#site-manage-items').removeClass('active');
            $('#site-manage-attachments').removeClass('active');
            $('#site-manage-extra-fields').addClass('active');
        });
        $(function () {
            $('a#site-manage-items-anchor').click(function (e) {
                e.preventDefault();
            });

        })
    </script>

    <script src="{{ STATIC_URL }}/commissioned_sites/js/fix_navs.js"></script>
{% endblock content %}