{% extends "base_form.html" %}
{% block content %}
    <div class="container">
    <div class="page-header">{% include "commissioned_sites/_customer_header.html" %}</div>
    <h1>Edit Site Network</h1>
    <form action="" method="post" >{% csrf_token %}
        <table>
            {% include "returned_items/_customer_form.html" %}
        </table>
        <input class="btn primary" type="submit" value="Save Network" />
        <button class="btn primary" type="submit"><a href="{% url 'site_manage_networks' id=object.site.id  %}">CANCEL</a></button>
    </form>
    <script src="{{ STATIC_URL   }}return_merchandise_authorizations/js/rma_edit.js"></script>
{% endblock content %}