{% extends "base_form.html" %}
{% block content %}
    <div class="container">
    <div class="page-header"><h1>Enter a New Part</h1></div>
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class="btn primary" type="submit" value="Save New Part" />
        <a  class="btn btn-success back" href="#">CANCEL</a>
    </form>
<script type="text/javascript">

    $(document).ready(function(){
        $('a.back').click(function(){
            parent.history.back();
            return false;
        });
    });
</script>
{% endblock content %}