{% extends "base.html" %}
{% load user_group %}
{% block content %}
    <div class="container">
    <div class="page-header"><h1>View Part Details</h1></div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 16px">
            {% if request.user|has_group:"user" %}
                <a class="btn btn-success" id='edit-part-button' href="{% url 'edit_part' id=part.id  %}">Edit</a>
                {% if item_count == 0 %}
                        <a id='delete-part-button' class="btn btn-success" href="{% url 'delete_part' id=part.id  %}">Delete</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% include "parts/_view.html" %}
    {% if request.user|has_group:"user" %}
        <a id='create-new-part-button' class="btn btn-success" href="{% url 'create_part' %}">Add another Part</a>
    {% endif %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
        $(function () {
            $('a#rma-view-anchor').click(function (e) {
                e.preventDefault();
            });
        })
        $(function() {
            $( "#nav-bar-rma-list-link" ).removeClass('active');
            $( "#nav-bar-commissioned-sites-link" ).removeClass('active');
            $( "#nav-bar-list-parts-link" ).addClass('active');
            $( "#nav-bar-list-return-items-link" ).removeClass('active');
            $( "#nav-bar-admin-panel-link" ).removeClass('active');
        });
    </script>
{% endblock content %}