{% extends "base_form.html" %}
{% block content %}
    <div class="container">
    <div class="page-header">{% include "operations/_customer_site_header.html" %}</div>
    <form  id="assign-site-to-new-customer" action="" method="post">{% csrf_token %}
        {% include "operations/_new_site_new_customer_button.html" %}
        <table>
            {{ form.as_table }}
        </table>
        <input class="btn primary" type="submit" value="Save Customer Site" />
        <button class="btn primary"><a href="{% url 'view_customer_site_to_reassign' id=site.id  %}">CANCEL</a></button>
    </form>
    {% include "operations/_site_rmas.html" %}
    <script>
        var assign_customer_to_site_new_customer = '{{ sub_url }}operations/assign_customer_to_site_new_customer/';
        var site_id = {{ site.id }};
    </script>
    <script src="{{ STATIC_URL }}js/operations.js"></script>
{% endblock content %}
