{% extends "base_form.html" %}
{% block content %}
    <div class="container">
    <div class="page-header">{% include "operations/_password_reset_header.html" %}</div>
        <div class='row'>{{ error }}</div>
        <table>
            <form action="" method="post">{% csrf_token %}
                {{ form.as_table }}
                <input id='submit-new-site-selected-for-rma-moving' class="btn primary btn-success" type="submit" value="Change Password" />
                <button class="btn primary btn-warning" type="submit" id="password-reset-cancel-button">CANCEL</button>
            </form>
        </table>
    </div>
    <script type="text/javascript">
        var cancel_url = "{% url 'home_page' %}";
        $('#password-reset-cancel-button').click(function(e) {
            window.location.replace(cancel_url);
            e.preventDefault()
        });
    </script>
{% endblock content %}
