{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="page-header">{% include "operations/_user_roles_header.html" %}</div>
    <div class="row">
        <a  class="btn btn-success" id='manage-user-roles' href="{% url 'manage_users_roles' %}">Cancel/Finished</a>
    </div>
    <div class="row">
        <div class="col-md-12" id="results">
        </div>
        <div class="col-md-12" style="margin-bottom: 16px">
                <form>
                    <select name="role" id="run-selected-role-change">
                      <option value="NON-OP">Select a Role</option>
                        {% if role != 'user' %}
                            <option value="user">User</option>
                        {% else %}
                            <option value="user" selected="selected">User</option>
                        {% endif %}
                        {% if role != 'admin' %}
                            <option value="admin">Admin</option>
                        {% else %}
                            <option value="admin" selected="selected">Admin</option>
                        {% endif %}
                        {% if role != 'poweruser' %}
                            <option value="poweruser">Poweruser</option>
                        {% else %}
                            <option value="poweruser" selected="selected">Poweruser</option>
                        {% endif %}
                        {% if role != 'approver' %}
                            <option value="approver">Approver</option>
                        {% else %}
                            <option value="approver" selected="selected">Approver</option>
                        {% endif %}
                        {% if role != 'viewer' %}
                            <option value="viewer">Viewer</option>
                        {% else %}
                            <option value="viewer" selected="selected">Viewer</option>
                        {% endif %}
                    </select>
                </form>
        </div>
    </div>
    <script>
        var id = {{ user.id }};
        var assign_role_url =  '{{ sub_url }}services/assign_role/';
    </script>
    <script src="{{ STATIC_URL   }}js/operations.js"></script>
{% endblock content %}