{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="page-header">{% include "return_merchandise_authorizations/_customer_header_manage_rma.html" %}</div>
        <div class="row">
            <div class="col-md-12">
                <h3>Manage RMA Extra Data</h3>
                {% if message %}
                <p class="error-message">{{ message }}</p>
                {% endif %}
            </div>
        </div>
        {% include "return_merchandise_authorizations/_tabs.html" %}
        <div class="tab-content">
          <div class="tab-pane" id="view"></div>
          <div class="tab-pane active" id="extra-fields">
              {% include "return_merchandise_authorizations/_manage_extra_fields.html" %}
          </div>
          <div class="tab-pane" id="attachments">Your Settings tab content here</div>
          <div class="tab-pane" id="attachments">Your Settings tab content here</div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
            $('#rma-view-anchor').removeClass('active');
            $('#rma-manage-items').removeClass('active');
            $('#rma-manage-attachments').removeClass('active');
            $('#rma-manage-extra-fields').addClass('active');
        });
        $(function () {
            $('a#rma-manage-items-anchor').click(function (e) {
                e.preventDefault();
            });
        })
    </script>
{% endblock content %}