{% extends "base.html" %}
{% load user_group %}
{% block content %}
    <div class="container">
        <div class="page-header">{% include "return_merchandise_authorizations/_customer_header_manage_rma.html" %}</div>
        <div class="row">
            <div class="col-md-12">
                <h3>Manage RMA Attachments</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 16px">
                {% if request.user|has_group:"user" %}
                    <a class="btn btn-success" id='create-rma-attachment-button' href="{% url 'create_rma_attachment' id=rma.id %}">Create RMA Attachment</a>
                {% endif %}
            </div>
        </div>
        {% include "return_merchandise_authorizations/_tabs.html" %}
        <div class="tab-content">
          <div class="tab-pane" id="view"></div>
          <div class="tab-pane" id="items">
          </div>
          <div class="tab-pane active" id="attachments">
          </div>
          <div class="tab-pane active" id="attachments">
              {% include "return_merchandise_authorizations/_manage_attachments.html" %}
          </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
            $('#rma-view-anchor').removeClass('active');
            $('#rma-manage-items').removeClass('active');
            $('#rma-manage-attachments').addClass('active');
            $('#rma-manage-extra-field').removeClass('active');
        });
        $(function () {
            $('a#rma-manage-attachments-anchor').click(function (e) {
                e.preventDefault();
            });

        })
    </script>
{% endblock content %}