{% extends "base.html" %}
{% load cycle from future %}
{% load user_group %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
        <div class="page-header">
            <h1 id="page-title">Customer Sites</h1>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 16px">
                {% if request.user|has_group:"user" %}
                    <a class="btn btn-success" id='create-customer-button' href="{% url 'create_customer_site'  %}">New</a>
                {% endif %}
            </div>
        </div>
        <div class="row list-header">
            <div class="col-md-6">
                Customer Name
            </div>
            <div class="col-md-6">
                Site Name
            </div>
        </div>
        <div class="row">
                <div id="customers">
                    {% for i in customers %}
                        <div class="row  {% cycle 'odd-row' 'even-row' %}">
                            <div class="col-md-4">
                                <a href="{% url   'view_customer_site' id=i.id  %}">{{  i.customer.company_name  }}</a>
                            </div>
                            <div class="col-md-4">
                                <a href="{% url   'view_customer_site' id=i.id  %}">{{  i.name  }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h1>Please Log In</h1>
            {% endif %}
        </div>
    </div>
    <script src="{{ STATIC_URL }}customers/js/customers.js"></script>
{% endblock content %}