{% extends "base.html" %}
{% load cycle from future %}
{% load user_group %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
        <div class="page-header">
            <h1 id="page-title">Customers</h1>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 16px">
                {% if request.user|has_group:"user" %}
                    <a class="btn btn-success" id='create-customer-button' href="{% url 'create_customer'  %}">New</a>
                {% endif %}
            </div>
        </div>
        <div class="row list-header">
            <div class="col-md-12">Customer Name</div>
        </div>
            <div id="customers">
                {% for i in customers %}
                    <div  class="row  {% cycle 'odd-row' 'even-row' %}">
                        <div class="col-md-12">
                            <a href="{% url 'view_customer' id=i.id  %}">{{  i  }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <h1>Please Log In</h1>
            {% endif %}
    </div>
    <script src="{{ STATIC_URL }}customers/js/customers.js"></script>
{% endblock content %}